
<%- include('header'); -%>




  <div class="box" id="heading">

      <h1> <%= title %>  </h1>
      
    </div>

    <div class="box">

        <% for(let i=0; i<addTask.length; i++){ %>  
            <div class="item">
            <input type="checkbox"> 
            <p>  <%= addTask[i] %> </p>      <!-- the entire array is rendered everysingle time so that the new list item can be added. if we write code to render only latest element then our list can't be updated -->

            </div>
           
          <% } %>
      
          <form action="/" method="post">
              <input type="text" name="newTask" placeholder="Add task"   required autocomplete="off">
              <button type="submit" name="reqFrom" value=<%= title %> >+</button>                <!-- if submit button is pressed from main page then the today's date is passed in value and 
                                                                                                 if submit button is pressed form work route it will pass work as the value -->
          </form>
    </div>


    
    <%- include('footer'); -%>





